.resultsDiv {
    text-align: center;
    padding: 5%;
    /* background-color: cornsilk; */
    border-style: solid;
    border-width: 1px;
    border-color: cornflowerblue;
}    

h2 {
    background-color: cornsilk;
}